<section>
  <!-- Footer Text -->
  <div class="footer-container">
    <div class="first-container">
      <!-- Logo -->
      <div class="logo-container">
        <img class="logo" [src]="brandlogo" alt="" />

        <p class="brand-name">Dentalist<span>.</span></p>
      </div>

      <p class="text-desc">
        Dental Care Seattle is a top-rated local practice for cosmetic,
        preventative, and restorative dentistry on First Hill
      </p>

      <div class="media-container">
        <p class="follow">FOLLOW US ON</p>
        <div class="media-icon">
          <img class="fbIcons" [src]="fbIcon" alt="" />
          <img class="twitter" [src]="twitterIcon" alt="" />
          <img class="instagram" [src]="instagramIcon" alt="" />
        </div>
      </div>
    </div>

    <!-- Quick Link -->
    <div class="quick-link-container">
      <p class="quick-link-text">QUICK LINK</p>
      <ul class="list-item">
        <li>About Us</li>
        <li>Dental Service</li>
        <li>Dentist</li>
        <li>Blog</li>
        <li>FAQs</li>
      </ul>
    </div>

    <!-- Contact and Information -->
    <div class="info-container">
      <p class="container-des">CONTACT & INFORMATION</p>
      <!-- Phone Number -->
      <div class="phone-card">
        <div class="bg-1">
          <div class="bg-2">
            <img class="callingIcon" [src]="callingIcon" alt="" />
          </div>
        </div>
        <div class="details">
          <p class="phone">Phone Number</p>
          <p class="number">+088 123 654 987</p>
        </div>
      </div>

      <!-- Open Hour -->
      <div class="clock-container">
        <div class="clock-bg-1">
          <div class="clock-bg-2">
            <img [src]="clock" alt="" />
          </div>
        </div>
        <div class="details">
          <p class="open">Open Hour</p>
          <p class="time">09:00 AM - 18:00 PM</p>
        </div>
      </div>

      <!-- Clinic Address -->
      <div class="address-card">
        <div class="address-bg-1">
          <div class="address-bg-2">
            <img [src]="address" alt="" />
          </div>
        </div>
        <div class="details">
          <p class="clinic">Clinic Address</p>
          <p class="main-address">35 West Dental Street California 10047</p>
        </div>
      </div>
    </div>
  </div>

  <div class="all-right-reserved-container">
    <div class="reserved-text">
      <p class="text-content">
        &#169; Dentalist. All Right Reserved
      </p>
    </div>
    <div class="privacy">
      <p>Term of Use</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</section>
