.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;

  .logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .logo-title {
      font-family: es-bold;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 28px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #181945;
    }
  }

  .nav-item-container {
    ul {
      display: flex;
      gap: 2rem;
      align-items: center;
      font-size: 0.87rem;
      font-family: es-bold;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #181945;
    }
  }

  .btn-container {
    display: flex;
    align-items: center;
    .btn {
      width: 174px;
      height: 48px;
      border-radius: 12px;
      border-style: none;
      background-color: #583fbc;
      color: whitesmoke;
      font-family: es-bold;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.02em;
    }
  }
}
