<section>
  <p class="first-text">MEET OUR TEAM</p>

  <div class="second-text-container">
    <p class="get-to-know">Get to know the dentalist dental Team</p>

    <p class="teams-lorem-text">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
  </div>

  <!-- Image of the Dentalist Team -->
  <div class="dentalist-team">
    <div class="team-container">
      <div class="img-container">
        <div class="img-bg-1">
          <img class="drJenny" [src]="DrDianne" alt="" />
        </div>
        <p class="dentist-name">Dianne Russell</p>
      </div>

      <div class="img-container">
        <div class="img-bg-2">
          <img class="drJenny" [src]="DrEsther" alt="" />
        </div>
        <p class="dentist-name">Esther Howard</p>
      </div>

      <div class="img-container">
        <div class="img-bg-3">
          <img class="drJenny" [src]="DrSteward" alt="" />
        </div>
        <p class="dentist-name">Darrell Steward</p>
      </div>

      <div class="img-container">
        <div class="img-bg-4">
          <img class="drJenny" [src]="DrJenny" alt="" />
        </div>
        <p class="dentist-name">Jenny Wilson</p>
      </div>

      <!-- <div class="img-bg-2">
        <img class="drJenny" [src]="DrEsther" alt="" />
      </div>

      <div class="img-bg-3">
        <img class="drJenny" [src]="DrSteward" alt="" />
      </div>

      <div class="img-bg-4">
        <img class="drJenny" [src]="DrJenny" alt="" />
      </div> -->
    </div>
  </div>
</section>

<!-- <img class="drJenny" [src]="DrJenny" alt="" /> -->
