<section>
  <p class="first-text">MEET OUR TEAM</p>

  <div class="second-text-container">
    <p class="get-to-know">Get to know the dentalist dental Team</p>

    <p class="teams-lorem-text">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
  </div>

  <!-- Image of the Dentalist Team -->
  <div class="">
    <div>
      <div></div>
      <img class="drJenny" [src]="DrJenny" alt="" />
    </div>
  </div>
</section>

<!-- <img class="drJenny" [src]="DrJenny" alt="" /> -->
