section {
  margin: 2rem;

  .first-text {
    font-family: es-bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #583fbc;
  }

  .second-text-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 1rem;

    .get-to-know {
      font-family: es-bold;
      font-size: 48px;
      font-weight: 700;
      line-height: 60.48px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #181945;
      width: 500px;
    }

    .teams-lorem-text {
      font-family: es-regular;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.02em;
      text-align: left;
      width: 435px;
    }
  }

  .dentalist-team {
    margin-top: 4rem;
    .team-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .img-container {
        .img-bg-1 {
          width: 290px;
          height: 350px;
          background: #dbeffa;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 32px;

          .drJenny {
            object-fit: cover;
          }
        }

        .img-bg-2 {
          width: 290px;
          height: 350px;
          background: #dbdefa;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 32px;

          .drJenny {
            object-fit: cover;
          }
        }

        p {
          font-family: es-bold;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: -0.02em;
          text-align: center;
          color: #181945;
          padding-top: 1.5rem;
        }

        .img-bg-3 {
          width: 290px;
          height: 350px;
          background: #f6dbfa;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 32px;

          .drJenny {
            object-fit: cover;
          }
        }

        .img-bg-4 {
          width: 290px;
          height: 350px;
          background: #fadbe2;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 32px;

          .drJenny {
            object-fit: cover;
          }
        }
      }
    }
  }
}
