<section>
  <!-- Text Container -->
  <div class="text-container">
    <p class="features">FEATURES</p>
    <p class="specialized">Specialized care through experience</p>
    <p class="lorem">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
  </div>

  <div class="features-container">
    <div class="service-card-1">
      <!-- Features -->
      <div class="features">
        <div class="features-container-1">
          <div class="service-quality-1">
            <div class="service-quality-2">
              <img class="qualityIcon" [src]="qualityIcon" alt="" />
            </div>
          </div>
          <div class="feature-text">
            <p class="feature-text-1">Safety first</p>
            <p class="feature-text-2">
              We prioritize safety with health checks and more
            </p>
          </div>
        </div>
      </div>

      <!-- Insurance accepted -->

      <div class="insurance">
        <div class="insurance-container-1">
          <div class="insurance-quality-1">
            <div class="insurance-quality-2">
              <img class="qualityIcon" [src]="insuranceIcon" alt="" />
            </div>
          </div>
          <div class="insurance-text">
            <p class="insurance-text-1">Insurance Accepted</p>
            <p class="insurance-text-2">
              We’re in network with major insurers like Delta Dental, Aetna, and
              Cigna.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="service-card-2">
      <!-- Full Service Dentistry (fsd) -->
      <div class="fsd">
        <div class="fsd-container-1">
          <div class="fsd-quality-1">
            <div class="fsd-quality-2">
              <img class="fsdIcon" [src]="fsdIcon" alt="" />
            </div>
          </div>
          <div class="fsd-text">
            <p class="fsd-text-1">Full Service Dentistry</p>
            <p class="fsd-text-2">
              Our clinic offer a full of dental service, from exams to implants
              and veneers.
            </p>
          </div>
        </div>
      </div>

      <!--  No Judgement Ever (nje)-->
      <div class="nje">
        <div class="nje-container-1">
          <div class="nje-quality-1">
            <div class="nje-quality-2">
              <img class="njeIcon" [src]="njeIcon" alt="" />
            </div>
          </div>
          <div class="nje-text">
            <p class="nje-text-1">No Judgement Ever</p>
            <p class="nje-text-2">
              From floss bosses to sweet tooths, every mouth is welcome.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
