<section>
  <!-- Text Container -->
  <div class="text-container">
    <p class="features">FEATURES</p>
    <p class="specialized">Specialized care through experience</p>
    <p>
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
  </div>

  <!-- Features -->

  <div class="features">
    <div class="features-container-1">
      <div class="service-quality-1">
        <div class="service-quality-2">
          <img class="qualityIcon" [src]="qualityIcon" alt="" />
        </div>
      </div>
      <div>
        <p>Safety first</p>
        <p>We prioritize safety with health checks and more</p>
      </div>
    </div>
  </div>
</section>
