<section class="testimonial-container">
  <div class="text-container">
    <p class="testimonial-title">TESTIMONIAL</p>
    <div class="about">
      <p class="people-statement">What people have said about us</p>
      <p class="lorem-text">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts
      </p>
    </div>
  </div>

  <div class="card-container">
    <!-- Card Container 1 -->
    <div class="card">
      <img class="robert" [src]="robert" alt="" />

      <p class="name">Robert Fox</p>
      <p class="comment">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts
      </p>
      <img [src]="ratings" alt="" />
    </div>

    <!-- Card Container 2-->

    <div class="card">
      <img class="albert" [src]="albert" alt="" />

      <p class="name">Albert Flores</p>
      <p class="comment">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts
      </p>
      <img [src]="ratings" alt="" />
    </div>

    <!-- Card Container 3 -->

    <div class="card">
      <img class="bessie" [src]="bessie" alt="" />

      <p class="name">Bessie Cooper</p>
      <p class="comment">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts
      </p>
      <img [src]="ratings" alt="" />
    </div>
  </div>
</section>
