<section>
  <div class="container-item-1">
    <p class="section-title">EXPERTS IN DENTAL</p>
    <p class="section-subtext">
      Top-notch dentistry, from Seattle's top dentists.
    </p>
    <p class="lorem-text">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts
    </p>
    <div class="item-container">
      <div class="item">
        <div class="item-bg">
          <img class="goodIcon" [src]="goodIcon" alt="" />
        </div>
        <p class="item-text">Top quality dental team</p>
      </div>

      <div class="item">
        <div class="item-bg">
          <img class="goodIcon" [src]="goodIcon" alt="" />
        </div>
        <p class="item-text">State of the art dental services</p>
      </div>

      <div class="item">
        <div class="item-bg">
          <img class="goodIcon" [src]="goodIcon" alt="" />
        </div>
        <p class="item-text">Discount on all dental treatment</p>
      </div>
    </div>
  </div>

  <!-- Image Container -->
  <div class="img-container">
    <img class="dentist" [src]="dentist" alt="" />
  </div>
</section>
