<section class="safety-container">
  <div class="safety-text-container">
    <div class="text-1">
      <p class="safety-text">SAFETY</p>
      <p class="safety-subtext">We put the safety first</p>
      <p class="safety-lorem-text">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
    </div>

    <img class="dentalEquipment"  [src]="dentalEquipment" alt="" />
  </div>

  <!-- <div class="dentalEquipment">
    <img [src]="dentalEquipment" alt="" />
  </div> -->
</section>
