<section>
  <div class="hero-text">
    <h1 class="hero-h1">Entrust your smile to professional</h1>
    <p class="sub-text">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>

    <div class="cta-container">
      <div class="btn-container">
        <button class="btn-appointment">Book an appointment</button>
      </div>

      <div class="contact">
        <div class="first-bg">
          <div class="second-bg">
            <img class="img" [src]="calling" alt="" />
          </div>
        </div>
        <div class="contact-text">
          <p class="dental">Dental 24H EMERGENCY</p>
          <P class="phone-number">03 482 394 123</P>
        </div>
      </div>
    </div>
  </div>

  <!-- HERO IMAGE CONTENT -->

  <div class="image-segment">
    <div class="hero-img-container">
      <img class="hero-image" [src]="heroImage" alt="" />
      <img class="dotted-pattern" [src]="patterns" alt="" />
      <img class="drSam" [src]="drSam" alt="" />
      <img class="heroTooth" [src]="heroTooth" alt="" />
      <img class="quality" [src]="quality" alt="" />
    </div>
  </div>
</section>

<div class="hero-sub-text">
  <p class="hero-info">
    Dentalist is re-imagining what the dental experience can be and proudly
    setting a new standard for patient care.
  </p>
  <div class="bar"></div>
</div>
