<section>
  <p class="service-title">SERVICES</p>
  <div class="service-sub-text">
    <p class="text-1">Feel amazing about your oral health</p>
    <p class="text-2">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
  </div>

  <div class="service-list">
    <!-- Denture Container -->
    <div class="denture">
      <div class="denture-img-container">
        <div class="glass">
          <div class="denture-bg">
            <img class="denture-icon" [src]="dentureIcon" alt="" />
          </div>
        </div>
      </div>

      <!-- Denture Text -->
      <div class="denture-text">
        <p class="text">Dentures</p>
        <p class="text-lorem">
          Lorem ipsum is placeholder text commonly used in the graphic,
        </p>
      </div>
    </div>

    <!-- Implants Container -->
    <div class="implants">
      <div class="implants-img-container">
        <div class="implant-glass">
          <div class="implant-bg">
            <img class="implant-icon" [src]="implantIcon" alt="" />
          </div>
        </div>
      </div>

      <!-- Implant Text -->
      <div class="implant-text">
        <p class="implant-text-title">Implants</p>
        <p class="implant-text-lorem">
          Lorem ipsum is placeholder text commonly used in the graphic,
        </p>
      </div>
    </div>

    <!-- Whitening Container -->
    <div class="whitening">
      <div class="whitening-img-container">
        <div class="whitening-glass">
          <div class="whitening-bg">
            <img class="whitening-icon" [src]="whiteningIcon" alt="" />
          </div>
        </div>
      </div>

      <!-- Whitening Text -->
      <div class="whitening-text">
        <p class="whitening-text-title">Whitening</p>
        <p class="whitening-text-lorem">
          Lorem ipsum is placeholder text commonly used in the graphic,
        </p>
      </div>
    </div>

    <!-- Root-canal Container -->
    <div class="canal">
      <div class="canal-img-container">
        <div class="canal-glass">
          <div class="canal-bg">
            <img class="canal-icon" [src]="rootCanal" alt="" />
          </div>
        </div>
      </div>

      <!-- Root-canal Text -->
      <div class="canal-text">
        <p class="canal-text-title">Root Canal</p>
        <p class="canal-text-lorem">
          Lorem ipsum is placeholder text commonly used in the graphic,
        </p>
      </div>
    </div>
  </div>

  <!-- Button -->

  <div class="cta-container">
    <button class="btn">
      <p class="btn-text">View all service list</p>
      <div class="caret-bg">
        <img class="caret" [src]="caret" alt="" />
      </div>
    </button>
  </div>

  <app-emergency></app-emergency>
</section>
