<section class="emergency-container">
  <!-- Image Container -->
  <div class="image-container">
    <img class="dental-patient-img" [src]="dentalPatient" alt="" />
  </div>

  <!-- Text Container -->
  <div class="emergency-text">
    <p class="emergency-header-title">DENTAL 24H EMERGENCY</p>
    <h1 class="emergency-header-text">Gentle, friendly treatment from our locally practice.</h1>
    <p class="lorem-text">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
    <button class="btn-appointment">Book an appointment</button>
  </div>
</section>
