<section class="priority-container">
  <div class="img-container">
    <div class="review-container">
      <div class="review-bg"></div>
      <img class="reviewing-patient" [src]="review" alt="" />
    </div>
  </div>

  <!-- Text -->
  <div class="priority-text-container">
    <p class="priority-title">OUR PRIORITY</p>
    <p class="our-client-text">Our clients are our priority</p>
    <p class="lorem-text">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
    <button class="btn-booking">Book an Appointment</button>
  </div>
</section>
