<section>
  <!-- Text Container -->
  <div class="hero-text-container">
    <div class="about-container">
      <h1 class="about-title">About Us</h1>
      <p class="about-subtext">
        We want you to feel amazing about your oral wellness. Not just twice a
        year, but every time you take a bite, tell a joke, laugh, or share a
        kiss.
      </p>
      <button routerLink="/contact-us" class="cta-button">Contact Us</button>
    </div>

    <!-- Image container -->
    <div class="hero-img-container">
      <img class="dentalPatient" [src]="dentalPatient" alt="" />
      <img class="pattern" [src]="pattern" alt="" />
      <img class="dentistDoc" [src]="dentistDoc" alt="" />
    </div>
  </div>
</section>
