<section>
  <p class="blog-title">BLOG</p>
  <P class="title-subtext">Stay updated with our latest news </P>

  <div class="card-holder">
    <!-- Blog cards 1 -->
    <div class="blog-container">
      <div class="blog-card">
        <img class="blogImage" [src]="blogImage" alt="" />
        <div class="calendar">
          <p class="day">23</p>
          <p class="month">Jan</p>
        </div>
      </div>

      <div class="card-body">
        <p class="title-1">TECHNOLOGY</p>
        <P class="title-1-subtext">New Technology Make for Dental Operation</P>
        <P class="card-lorem"
          >Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing
        </P>
      </div>
    </div>

    <!-- Blog cards 2 -->
    <div class="blog-container">
      <div class="blog-card">
        <img class="blogImage" [src]="dental" alt="" />
        <div class="calendar">
          <p class="day">23</p>
          <p class="month">Jan</p>
        </div>
      </div>

      <div class="card-body">
        <p class="title-1">DENTAL</p>
        <P class="title-1-subtext"
          >Regular Dental care make Your Smile Brighter</P
        >
        <P class="card-lorem"
          >Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing
        </P>
      </div>
    </div>

    <!-- Blog cards 3 -->
    <div class="blog-container">
      <div class="blog-card">
        <img class="blogImage" [src]="hygiene" alt="" />
        <div class="calendar">
          <p class="day">23</p>
          <p class="month">Jan</p>
        </div>
      </div>

      <div class="card-body">
        <p class="title-1">HYGIENE</p>
        <P class="title-1-subtext">Dental Hygiene for All Age to Make Smile</P>
        <P class="card-lorem"
          >Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing
        </P>
      </div>
    </div>
  </div>
</section>
